.post-feed {
  background: rgba(247, 196, 167, .25) !important;
  padding: 100px 0;

  .container {
    max-width: 1400px;
  }

  .card {
    border: 1px solid #dedede;
  }

  a {
    color: #000;
    text-decoration: none;

    h3 {
      font-size: 24px;
    }
  
    h4 {
      font-size: 14px;
    }
  
    p {
      color: #687281;
      font-size: 14px;
      line-height: 14px;
    }

    &:hover {
      color: #000;
      text-decoration: none;
    }
  }

  .card-footer {
    background-color: rgba(0,0,0,0);
    border-top: none;
  }
  

  a:hover {
    .read-more {
      // background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%)!important;
      background-position: right center; /* change the direction of the change here */
    }
  }

  .read-more {
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%)!important;
    background-size: 200% auto;
    transition: 0.5s;


    a {
      margin: 10px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;

      color: white!important;
      border: none;

      &:hover {
        background: none !important;
        border-color: none !important;
      }

      
    }
  }
}