#tags ul {
  [data-key="ways_to_help"] {
    &.active {
      $color: #E31D1D;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="chow_down"] {
    &.active {
      $color: #E31D1D;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="learn_up"]  {
    &.active {
      $color: #E3591D;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="workouts"]  {
    &.active {
      $color: #F8AB38;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="get_social"]  {
    &.active {
      $color: #EEDA2D;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="be_entertained"]  {
    &.active {
      $color: #6ECD34;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="game_on"]  {
    &.active {
      $color: #34CD68;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="discounts_and_offers"]  {
    &.active {
      $color: #34CDA8;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="for_the_kids"]  {
    &.active {
      $color: #34A8CD;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="helpful_services"]  {
    &.active {
      $color: #343ACD;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="stay_healthy"]  {
    &.active {
      $color: #7734CD;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="get_cooking"]  {
    &.active {
      $color: #CD34BE;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="health_and_fitness"]  {
    &.active {
      $color: #FFAE64;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="learning"]  {
    &.active {
      $color: #95C828;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="entertainment"]  {
    &.active {
      $color: #2F80ED;
      border: 1px solid $color;
    }
  }
}
#tags ul {
  [data-key="kids"]  {
    &.active {
      $color: #ffa500;
      border: 1px solid $color;
    }
  }
}


#tags {
  overflow: hidden;

    ul {
      list-style: none;
      color: #000;
      margin: 0;
      padding: 0 0 50px 0;

      display: flex;
      flex-wrap: nowrap;
      overflow: scroll;

      li {
        &:hover {
          transform: translateY(-3px);
          box-shadow: 5px 15px 75px rgba(0, 0, 0, 0.15);
          cursor: pointer;
        }
        transition: color .3s,box-shadow .3s,transform .3s;

        flex: 1 0 10%; /* explanation below */
        margin: 10px;
        padding: 10px;
        // height: 100px;
        background: #FFF;
        border-radius: 10px;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;

        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 21px;
        position: relative;

        &.filter-button {
          position: relative;
          
          &::before {
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }

        .emoji {
          font-size: 30px;
          padding: 25px;
        }
      }
    }
  }
  