.subscribe {
    background: #0085e4;
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #0085e4), color-stop(100%, #c17e09));
    background: linear-gradient(45deg, #0085e4 0%, #c17e09 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085e4',endColorstr='#c17e09',GradientType=1 );
    color: #000;   
}