
  .hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 75px 0;
    background: #f2f2f2;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: .8;
      background: #f2f2f2;
      // background: -moz-linear-gradient(45deg, #0085e4 0%, #c17e09 100%);
      // background: -webkit-gradient(left bottom, right top, color-stop(0%, #0085e4), color-stop(100%, #c17e09));
      // background: -webkit-linear-gradient(45deg, #0085e4 0%, #c17e09 100%);
      // background: -o-linear-gradient(45deg, #0085e4 0%, #c17e09 100%);
      // background: -ms-linear-gradient(45deg, #0085e4 0%, #c17e09 100%);
      // background: linear-gradient(45deg, #0085e4 0%, #c17e09 100%);
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085e4',endColorstr='#c17e09',GradientType=1 );
    }
  }
  
  @media (max-width: 1199.98px) {
    .hero-wrap {
      background-position: center center !important;
      padding: 100px 0;
    }
  }

  .slider-text {
    .text {
      position: relative;
    }
  
    h1 {
      font-size: 72px;
      color: #000;
      line-height: 1.9;
      font-weight: 700;
      font-family: _font(primary);
  
      span {
        color: #ffd369;
      }
    }

    .subheading {
      font-size: 18px;
      color: #000;
      font-family: _font(primary);
      font-weight: 400;
      margin-bottom: 0;
    }
  
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      /* or 140% */
      
      letter-spacing: 0.01em;
      color: #000;
  
      strong {
        font-weight: 700;
  
        a {
          color: #000;
        }
      }
    }
  
    .btn-custom {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
    }
  
    .breadcrumbs {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
      z-index: 99;
  
      span {
        color: rgba(255, 255, 255, 0.5);
  
        i {
          color: rgba(255, 255, 255, 0.3);
        }
  
        a {
          color: rgba(255, 255, 255, 0.7);
  
          &:hover, &:focus, &:hover i, &:focus i {
            color: #ffd369;
          }
        }
      }
    }
  
    .bread {
      font-weight: 700 !important;
    }
  }
  
  @media (max-width: 1199.98px) {
    .slider-text h1 {
      font-size: 38px;
    }
  }
