
  .hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 100px 0;
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      opacity: .8;
      background: #f200ff;
      background: -moz-linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
      background: -webkit-gradient(left bottom, right top, color-stop(0%, #f200ff), color-stop(100%, #ffba42));
      background: -webkit-linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
      background: -o-linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
      background: -ms-linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
      background: linear-gradient(45deg, #f200ff 0%, #ffba42 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f200ff',endColorstr='#ffba42',GradientType=1 );
    }
  }
  
  @media (max-width: 1199.98px) {
    .hero-wrap {
      background-position: center center !important;
    }
  }
  
  .slider-text {
    .text {
      position: relative;
    }
  
    h1 {
      font-size: 7vw;
      color: #fff;
      line-height: 1.2;
      font-weight: 700;
      font-family: poppins, Arial, sans-serif;
  
      span {
        color: #ffd369;
      }
    }
  
    .subheading {
      font-size: 18px;
      color: #fff;
      font-family: poppins,Arial,sans-serif;
      font-weight: 400;
      margin-bottom: 0;
    }
  
    p {
      font-size: 18px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.9);
  
      strong {
        font-weight: 700;
  
        a {
          color: #000;
        }
      }
    }
  
    .btn-custom {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
    }
  
    .breadcrumbs {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 20px;
      z-index: 99;
  
      span {
        color: rgba(255, 255, 255, 0.5);
  
        i {
          color: rgba(255, 255, 255, 0.3);
        }
  
        a {
          color: rgba(255, 255, 255, 0.7);
  
          &:hover, &:focus, &:hover i, &:focus i {
            color: #ffd369;
          }
        }
      }
    }
  
    .bread {
      font-weight: 700 !important;
    }
  }
  
  @media (max-width: 1199.98px) {
    .slider-text h1 {
      font-size: 14vw;
    }
  }
